{% extends "home2.html" %}
{% block title %}
Calendar
{% endblock %}
{% block style %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://cssscript.com/demo/minimal-clean-inline-date-picker-hello-week/dist/helloweek.css" rel="stylesheet"> </link>
<script src="static/dist/helloweek.min.js"></script>


<!-- http://bl.ocks.org/KathyZ/c2d4694c953419e0509b -->
 <style>

 :root {
     --hello-week-max-width: 980px;
     --hello-week-bg-color: #fff;

     --hello-week-bg-day: var(--hello-week-bg-color);
     --hello-week-color-day: #ffa07a;

     --hello-week-bg-week: #fff;
     --hello-week-color-week: #cfcfcf;

     --hello-week-bg-tody: #3e3e3e;
     --hello-week-color-tody: #fff;

     --hello-week-bg-selected: #7FCBC3;
     --hello-week-color-selected: #fff;

     --hello-week-bg-weekend: #f3f3f3;
     --hello-week-color-weekend: #3e3e3e;

     --hello-week-bg-disabled: #f7f8fb;
     --hello-week-color-disabled: #cfcfcf;

     --hello-week-border-radius: 0;
 }

      body {
        font: 1.1em sans-serif;
      }

      #chart{
        width: 800px;
        margin: 0 auto;
      }
      .background {
        fill: #eee;
      }

      line {
        stroke: #fff;
      }

      text.active {
        fill: red;
      }

      .day {
        fill: #fff;
        stroke: #ccc;
      }

      .month {
        fill: none;
        stroke: #fff;
        stroke-width: 4px;
      }
      .year-title {
        font-size: 1.5em;
      }

      /* color ranges */
      .RdYlGn .q0-11{fill:rgb(165,0,38)}
      .RdYlGn .q1-11{fill:rgb(215,48,39)}
      .RdYlGn .q2-11{fill:rgb(244,109,67)}
      .RdYlGn .q3-11{fill:rgb(253,174,97)}
      .RdYlGn .q4-11{fill:rgb(254,224,139)}
      .RdYlGn .q5-11{fill:rgb(255,255,191)}
      .RdYlGn .q6-11{fill:rgb(217,239,139)}
      .RdYlGn .q7-11{fill:rgb(166,217,106)}
      .RdYlGn .q8-11{fill:rgb(102,189,99)}
      .RdYlGn .q9-11{fill:rgb(26,152,80)}
      .RdYlGn .q10-11{fill:rgb(0,104,55)}

      /* hover info */
      #tooltip {
        background-color: #fff;
        border: 2px solid #ccc;
        padding: 10px;
      }

    </style>
 {% endblock %}

{% block content %}
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
<h2 class="mb-5">Calendar</h2> <!-- keep dis -->

<ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
      <div id="chart" class="clearfix"></div>
	    </li>
	    </ul>



<div class="hello-week">

  <div class="hello-week__header">

    <button class="btn demo-prev"><img draggable="false" class="emoji" alt="◀" src="https://s.w.org/images/core/emoji/2.4/svg/25c0.svg"></button>

    <div class="hello-week__label"></div>

    <button class="btn demo-next"><img draggable="false" class="emoji" alt="▶" src="https://s.w.org/images/core/emoji/2.4/svg/25b6.svg"></button>

  </div>

  <div class="hello-week__week"></div>

  <div class="hello-week__month"></div>

</div>

<script>
//const myCalendar = new HelloWeek();

const prev = document.querySelector('.demo-prev');
const next = document.querySelector('.demo-next');
</script>
<p><strong>Today:</strong> </p>
<ul class="demo-today"><span>n/a</span></ul>

<p><strong>Last Picked Day:</strong></p>
<ul class="demo-last"><span>n/a</span></ul>

<p><strong>Picked Days:</strong></p>
<ul class="demo-picked"><span>n/a</span></ul>
<script>
const today = document.querySelector('.demo-today');
const picked = document.querySelector('.demo-picked');
const last = document.querySelector('.demo-last');

function updateInfo() {
  if (this.today) {
    today.innerHTML = '';
    var li = document.createElement('li');
    li.innerHTML = this.today;
    today.appendChild(li);
  }

  if (this.lastSelectedDay) {

    picked.innerHTML = '';
    for (days of this.selectedDays) {
      var li = document.createElement('li');
      li.innerHTML = days;
      picked.appendChild(li);
    }

    last.innerHTML = '';
    var li = document.createElement('li');
    li.innerHTML = this.lastSelectedDay;
    last.appendChild(li);
  }
}

/*const myCalendar = new HelloWeek({
  onLoad: updateInfo,
  onChange: updateInfo,
  onSelect: updateInfo
});*/

const myCalendar = new HelloWeek({
      selector: '.hello-week',
      lang: 'en',
      langFolder: 'static/dist/langs/',
      format: false,
      weekShort: true,
      monthShort: false,
      multiplePick: false,
      defaultDate: false,
      todayHighlight: true,
      disablePastDays: false,
      disabledDaysOfWeek: false,
      disableDates: false,
      weekStart: 0,
      daysHighlight: false,
      range: false,
      minDate: false,
      maxDate: false,
      nav: ["<img draggable='false' class='emoji' alt='◀' src='https://s.w.org/images/core/emoji/2.4/svg/25c0.svg'>", "<img draggable='false' class='emoji' alt='▶'src='https://s.w.org/images/core/emoji/2.4/svg/25b6.svg'>"],
onLoad: updateInfo,
onChange: updateInfo,
onSelect: updateInfo
});


	prev.addEventListener('click', () => myCalendar.prev());
	next.addEventListener('click', () => myCalendar.next());

</script>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46156385-1', 'cssscript.com');
  ga('send', 'pageview');

</script>


<!--  CALENDAR COMES FROM https://bl.ocks.org/mbostock/4063318 -->

  {% endblock %}
