{% extends "home2.html" %}
{% block title %}
Home
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
 <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
   <div class="my-auto">
          <h1 class="mb-0">{{ name[0] }}
            <span class="text-primary">{{ name[1] }}</span>
          </h1>
          <div class="subheading mb-5">{{ osis }} · {{stuid}} ·
            <a href="mailto:{{ email }}"></a>
          </div>
	  <hr>
	  <h2 class="mb-5">Update Password</h2> <!-- keep dis -->
          {% if error %}
	  <p><strong>Error:</strong> {{ error }}
	    {% endif %}
	  <form class="" action="/updatestudentpass" method="POST">
	    <div class="subheading mb-3">Current Password::</div>
            <input type="password" name="currentpass" required>
	    <div class="subheading mb-3">New Password::</div>
	    <input type="password" name="pass1" required>
	    <div class="subheading mb-3">Repeat New Password::</div>
            <input type="password" name="pass2" required><br>
            <input type="submit" name="submit" value="submit">
	  </form>
   </div>

{% endblock %}
