<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    Welcome to the student-inator 9000.
    <div class="jumbotron">
      Welcome, student!
    </div>
    <div class="stuff">
      <a href="/classes">Classes</a>
      <a href="#">Grades</a>
      <a href="#">Teachers</a>
      <a href="#">Submit an absence note</a>
    </div>
    <form class="" action="/addclass" method="POST">
        Add a class
        <input type="text" name="class" value="">
        <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
