<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Sign Up</title>
</head>

<body>

  <center>
    <b> Log In </b>
    <form action="/signauth" method="POST">

      Username:
      <input type="text" name="username"> </input>
      <br> <br>
      Password:
      <input type="text" name="password0"> </input>
      <br> <br>
      Password Again:
      <input type="text" name="password1"> </input>
      <br> <br>
      Osis
      <input type="text" name="osis"> </input>
      <br> <br>
      Student ID:
      <input type="text" name="student_id"> </input>

      <br> <br>
      <input type= "submit" name="submit" value="Sign Up">
    </form>

</body>
</html>
