{% extends "basetemp.html" %}

{% block title %}
StuyPlanner Sign Up
{% endblock %}

{% block content %}
<form class="login100-form validate-form" action="/signauth" method="POST">
  <span class="login100-form-title">
    Sign Up for StuyPlanner
  </span>
        {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}

 <div class="wrap-input100 validate-input" data-validate = "Valid Name is required: John">
        <input class="input100" type="text" name="name" placeholder="First Name">
                                                <span class="focus-input100"></span>

                                                </span>
</div>

 <div class="wrap-input100 validate-input" data-validate = "Valid Name is required: Doe">
        <input class="input100" type="text" name="name2" placeholder="Last Name">
                                                <span class="focus-input100"></span>

                                                </span>
</div>

 <div class="wrap-input100 validate-input" data-validate = "Valid username is required: johndoe">
    	<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					
						</span>
</div>

	<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password0" placeholder="Password">
						<span class="focus-input100"></span>
					
	</div>

	<div class="wrap-input100 validate-input" data-validate = "Password is required">
	  <input class="input100" type="password" name="password1" placeholder="Repeat Password">
	  <span class="focus-input100"></span>
					
	</div>


  <div class="wrap-input100 validate-input" data-validate = "Valid OSIS is required: 111111111">
    	<input class="input100" type="text" name="osis" placeholder="OSIS">
						<span class="focus-input100"></span>
					
						</span>
</div>

  <div class="wrap-input100 validate-input" data-validate = "Valid Student ID is required: 1111">
    	<input class="input100" type="text" name="sid" placeholder="Student ID">
						<span class="focus-input100"></span>
					
						</span>
</div>
<input  class="login100-form-btn" type= "submit" name="submit" value="Sign Up">
	<div class="text-center p-t-136">
						<a class="txt2" href="/">
							Return to Login
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
    </form>
{% endblock %}
