{% extends "admin/home2.html" %}
{% block title %}
Add Classes
{% endblock %}
{% block style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
    {% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <h2 class="mb-5">Add Work To Classes</h2>
      <p class="mb-5">
      <form class="" action="/adminclass" method="POST">
        <br><br><br><br><br><div class="subheading mb-3">Class Name:</div>
        <input type="text" name="name" value="">
        <div class="subheading mb-3">TID:</div>
        <input type="text" name="tid" value="">
       <div class="subheading mb-3">Students:</div>
        <input type="text" name="slist" value="[]">
        <div class="subheading mb-3">Description:</div>
        <input type="text" name="desc" value="">
        <br><input type="submit"></form>
      </p>
</html>
