{% extends "teachers/home2.html" %}
{% block title %}
Add Classes
{% endblock %}
{% block style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
    {% block content %}
     <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <h2 class="mb-5">Add Work To Classes</h2>

        <form action="/addassignments" method="POST" class="" text>
      <br><br><Br><Br><br><br>
          <div class="subheading mb-3">
              Class name:
          <select name="chooseclass">
              {% for class in classes %}
              <option value="{{ class.CID }}">{{ class.name }}</option>
                      {{ class|e }}
              {% endfor %}
          </select></div>
        <div class="subheading mb-3">Type of Work:

	<select>
	  <option value="0"> Assignment </option>
	  <option value="1"> Test </option></div>
	</select>
    <div class="">
        Due:
    <input type="date" name="due" id="due" value="">
    </div>
        <div class="subheading mb-3">Description: <br> <input type="text" name="wdescr" value=""></div> <input type="submit"></form>
    </p>
    <script type="text/javascript">
    document.getElementById('due').value = new Date().toISOString().split('T')[0];
    </script>
{% endblock %}
</html>
