{% extends "admin/home2.html" %}
{% block title %}
Add Classes
{% endblock %}
{% block style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
    {% block content %}
     <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <h2 class="mb-5">Add Work To Classes</h2>

        <form class="" action="/adminwork" method="POST">
      <br><br><Br><Br><br><br>
          <select name="chooseclass">
              {% for class in classes %}
              <option value="{{ class.CID }}">{{ class.name }}</option>
                      {{ class|e }}
              {% endfor %}
          </select>
        <div class="subheading mb-3">Type of Work:</div>
	<select>
	  <option value="0"> Assignemnt </option>
	  <option value="1"> Test </option>
	</select>
        <div class="subheading mb-3">Description:</div>
        <input type="text" name="wdescr" value="">
        <br><input type="submit"></form>
    </p>
{% endblock %}
</html>
