{% extends "teachers/home2.html" %}
{% block title %}
Classes
{% endblock %}

{% block style %}
 {% endblock %}

 
{% block content %}
<h2 class="mb-5">My Classes</h2>
IN PROGRESS
   <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">AP Computer Science</h3>
              <div class="subheading mb-3">Mr. Brown</div>
              <p><a href="#">View assignments</a><br>
		<a href="#">Contact teacher</a></p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Period 1</span>
            </div>
{% endblock %}
